<!DOCTYPE html>
{%load static%}
<html>
	<head>
		<title>add store</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<link href='https://fonts.googleapis.com/css?family=Fira Sans' rel='stylesheet'>
		<link rel="icon" href="{% static 'images/store.png' %}" type="image/png" sizes="16x16">
		<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
	</head>
	<body >
		
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<div class="container">
				<a class="navbar-brand" href="/{{user_name}}/owner/"><img src="{% static 'images/store.png' %}" height="30px"> Stores</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
					<div class="navbar-nav mr-auto">
						<a class="nav-item nav-link active" href="/{{user_name}}/owner/">Home<span class="sr-only">(current)</span></a>
						<a class="nav-item nav-link active" href="/{{user_name}}/addstore/">Add Shop<span class="sr-only">(current)</span></a>
						<a class="nav-item nav-link active" href="/{{user_name}}/orderitems/">Order Items<span class="sr-only">(current)</span></a>
						<a class="nav-item nav-link active" href="/{{user_name}}/delete/">Delete Shop<span class="sr-only">(current)</span></a>
						
						
						
						
					</div>

					<div class="navbar-nav">
							
						<a class="btn btn-outline-success" href="/logout/"  style="float-right">Logout<span class="sr-only">(current)</span></a>
						</div>
				</div>
			</div>
		</nav>
		<br><br>
		<div >
			<div class="row">
				<div class="col-md-4"></div>
				<div class="col-md-4">
					<div class="card shadow-lg border-dark mb-3"  style="width: 35rem;" >
						<div class="card-header bg-transparent border-dark" style="font-family:Fira Sans; text-align:center"><h3>ADD STORE</h3></div>
						<div class="card body" style="background-color:#f1f2f6;">
							<br>
							
							
							
							<form action="/{{user_name}}/addstore/" method="POST">
								{% csrf_token %}
								<div  >
									
									
									<div class="form-group row">
										<label style="font-family:Fira Sans;  padding-left:25px;" class="col-sm-4 col-form-label">Shop Name:</label>
										<div class="col-sm-7">
											<input type="text" name="storename" class="form-control" style="font-family:Fira Sans;"placeholder="Enter Shop Name" >
										</div>
									</div>
									
								</div>

								<div class="form-group row">
										<label style="font-family:Fira Sans;  padding-left:25px;" class="col-sm-4 col-form-label">Invite Code:</label>
										<div class="col-sm-7">
											<input type="text" name="invitecode" class="form-control" style="font-family:Fira Sans;"placeholder="Enter Invite Code" >
										</div>
									</div>

								<br>

								<div style="text-align:center">
									<button class="btn btn-md btn-outline-primary" type="submit" style="margin:10px;">Add Store</button>
								</div>
								<br>
							</form>
							
						</div>
						
					</div>
				</div>
				<div class="col-md-4"></div>
			</div>
		</div>
	</body>
</html>