<!DOCTYPE html>
{%load static%}
<html>
	<head>
		<title>Cloud Stores</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<link rel="icon" href="{% static 'images/store.png' %}" type="image/png" sizes="16x16">
		<link href='https://fonts.googleapis.com/css?family=Fira Sans' rel='stylesheet'>
		<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<div class="container">
				<a class="navbar-brand" href="/"><img src="{% static 'images/store.png' %}" height="30px"> Stores</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
					<div class="navbar-nav  mr-auto">
						
					</div>
					<div class="navbar-nav">
						<a class="btn btn-outline-success inline-block mb-3 mb-md-0 ml-md-5" href="/signin/" >Signin<span class="sr-only">(current)</span></a>
						
						
					</div>
				</div>
			</div>
		</nav>
		<div style="text-align:center" class="container">
			<br><br>
			<div class="card  shadow-lg" style="width: 70rem;">
				<div class="card-body" style="background-color:#f1f2f6;">
					
					<p style="font-size:40px;text-align:justify">
					<b><i>Cloud Stores is an inventory manager. Helps you to manage your stores at a single place by sending. Sends notification about the availability of the products in the stores and will help you to ensure all time availability of the products for customers and keep them happy.</i></b>
					</p>
					
				</div>
			</div>
			<br>
			
			<a type="button" class="btn btn-outline-primary btn-lg" href="/signup/">Sign Up</a>
		</div>
	</body>
</html>