<!DOCTYPE html>
{% load static %}
<html>
	<head>
		<title>Order Checkout Page</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<link rel="icon" href="{% static 'images/store.png' %}" type="image/png" sizes="16x16">
		<link href='https://fonts.googleapis.com/css?family=Fira Sans' rel='stylesheet'>
		<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
		
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<div class="container">
				<a class="navbar-brand" href="/shop/{{storeid}}/checkout/"><img src="{% static 'images/store.png' %}" height="30px"> Stores</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
					<div class="navbar-nav mr-auto">
						<a class="nav-item nav-link active" href="/shop/{{storeid}}/checkout/">Home<span class="sr-only">(current)</span></a>
						<a class="nav-item nav-link active" href="/{{storeid}}/additems/">Add Items<span class="sr-only">(current)</span></a>
						<a class="nav-item nav-link active" href="/{{storeid}}/viewitems/">View Items<span class="sr-only">(current)</span></a>
						
					</div>
					<div class="navbar-nav">
						
						<a class="btn btn-outline-success" href="/logout/"  style="float-right">Logout<span class="sr-only">(current)</span></a>
					</div>
				</div>
			</div>
		</nav>
		{# End of Nav #}
		<br><br>
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div>
						<form class="form"  action="/shop/{{storeid}}/checkout/" method="POST" >
							{% csrf_token %}
							<div class="row">
								<div class="col-6">
									<select class="form-control" id="item-list" name="itemname">
										{% for item in items %}
											<option id="item{{item.id}}" value="{{item.id}}"><b>{{item.name}}</b></option>
										{% endfor %}
									</select>
								</div>
								<div class="col-3">
									<input type="text" class="form-control" id="item-quant" placeholder="Quantity" name="quantity" required>
								</div>
								<div class="col-3">
									<button type="submit" class="btn btn-md btn-outline-primary" id="item-add">Add</button>
								</div>
							</div>
						</form>
					</div>
					<br><br>
					<div class="card  shadow-lg" style="width: 31rem;" style="padding-right:100px;">
						<div class="card-body">
							<div id="my-table">
								<table class="table table-bordered " width="100%" >
									<thead >
										
										<tr>
											<td width="10px"><b>ID</b></td>
											<td><b>Item Name</b></td>
											<td><b>Quantity</b></td>
											<td><b>Price</b></td>
											<td></td>
										</tr>
									</thead>
									<tbody  id="table-body">
										{% for k,v in cart.items %}
											<tr style="text-align:right">
												<td width="10px">{{k.id}}</td>
												<td>{{k.name}}</td>
												<td>{{v.0}}</td>
												<td>₹{{v.1}}</td>
												
												<td><a href="/delete/{{storeid}}/{{k.id}}" style="color:red"><ion-icon name="close-circle"></ion-icon></a></td>
											</tr>
										{% endfor %}
										<tr style="text-align:right">
											<td colspan="3"><b>Total</b></td>
											<td colspan="1"><b>₹{{total_price}}</b></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<br>
					<form action="/checkout-customer/{{storeid}}/" method="POST">
						{% csrf_token %}
						<button class="btn btn-md btn-outline-success" type="submit">Submit<span class="sr-only">(current)</span></button>
						
					</div>
					<div class="col-md-6">
						<label>Customer Email:</label>
						<input type="Email" class="form-control" id="item-quant" placeholder="Customer email id" name="email" required>
						
						<div style="padding-top:50px">
							<div class=" border-dark shadow-lg"  >
								<div class="card" style="width: 38rem">
									<div class="card-body" style="background-color:#c8d6e5;">
										
										<p class="card-text">{{message}}</p>
										
									</div>
								</div>
							</div>
						</div>
						<div style="padding-top:30px">
							<label>Money Receieved:</label>
							<input type="number" class="form-control" id="item-quant" placeholder="Enter Money receieved from the Customer" name="money" required>
						</div>
					</form>
					<div style="padding-top:10px">
						<table class="table">
							<thead>
								<tr>
									<th scope="col">Currency</th>
									<th scope="col">Nos'</th>
								</tr>
							</thead>
							<tbody>
								{%for i,k in show.items%}
								<tr>
									<td>{{i}}</td>
									<td>{{k}}</td>
								</tr>
								{%endfor%}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<script src="https://unpkg.com/ionicons@4.4.6/dist/ionicons.js"></script>
	</body>
	
</html>